<h1>Show setup details</h1>

<p>Car: <%= @setup.car %></P>
<p>Driver: <%= @setup.driver %></P>
<p>Track: <%= @setup.track %></P>
<p><%= link_to 'Edit', edit_setup_path(@setup)%></P>
<p><%= link_to 'Delete', setup_path(@setup), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></P>
<p><%= link_to 'Return to setup listing', setups_path %></p>